@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-gradient{
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
  }
  
  .scrolling-gradient-a {
    animation: scroll-gradient 5s linear infinite;
    background-size: 200%;
    background-image: linear-gradient(
        to right,
        rgb(250, 204, 21),
        rgb(249, 115, 22),
        rgb(220, 38, 38),
        rgb(249, 115, 22),
        rgb(250, 204, 21)
    );
  }

  .scrolling-gradient-b {
    animation: scroll-gradient 5s linear infinite;
    background-size: 200%;
    background-image: linear-gradient(
        to right,
        rgb(193, 111, 247),
        rgb(179, 241, 255),
        rgb(74, 222, 128),
        rgb(179, 241, 255),
        rgb(193, 111, 247)
    );
}